#topnav {
    background-color: #15233c;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#h1 {
    font-weight: bold;
}

#top-nav {
    font-size: 14px;
}

i {
    font-size: 15px;
}

nav {
    font-weight: 500;
}

#h2 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

#a {
    color: #696e77;
}

#a:hover {
    color: blue;
}

#bot-nav {
    background-image: url("./Img/photo17142591887.jpg");
    background-position: right;
    background-size: 1100px;
    background-repeat: no-repeat;
}

@media screen and (min-width: 260px) and (max-width: 1080px) {
    #bot-nav {
        background-size: 100%;
    }
}


#img-steve, #img-jane {
    width: 64px;
    height: 64px;
}

#img-phone {
    width: 45px;
    height: 45px;
}

.text {
    padding: 6rem 0;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.150);
}
  
.card-img img {
    transition: 0.5s;
  }
  
.card-img:hover img {
    transform: scale(1.1);
}
  
.card-text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    opacity: 0;
    transition: 0.5s;
}
  
.card-img:hover .card-text {
    bottom: 0;
    opacity: 1;
}
  
.card-img a.btn {
    color: blue;
}
  
.card-img a.btn:hover {
    color: white;
    background: blue;
    border-color: blue;
}

#footer {
    background-color: #15233c;
    color: #a7a8b4;
}

#footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #a7a8b4;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
    text-decoration: none;
}
  
#footer .btn.btn-link::before {
    position: relative;
    content: "›";
    font-weight: 900;
    color: #a7a8b4;
    margin-right: 10px;
}
  
#footer .btn.btn-link:hover {
    color: white;
    letter-spacing: 1px;
}
  
#footer .btn.btn-square {
    color: #a7a8b4;
    border: 1px solid #a7a8b4;
}
  
#footer .btn.btn-square:hover {
    color: blue;
    border-color: white;
}
  
#footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid #a7a8b4;
}
  
#footer .copyright a {
    color: blue;
}
  
#footer .copyright a:hover {
    color: white;
}

.icon {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
  }