
  .navbar-brand {
    max-width: 23.65 !important;
  }
  .btn {
    border-radius: 0.6rem !important;
    outline: none !important;
    border: none !important;
  }
  .btn:hover {
    background-color: #6edff6;
  }
  .img-fluid {
    width: 4rem;
    border-radius: 50%;
  }
  .nav-link {
    text-align: left !important;
    font-weight: 600 !important;
    margin-left: 2rem;
    padding: 0.5rem 0 !important;
  }
  .nav-item:hover {
    color: #015fc9 !important;
  }
  .active {
    color: #015fc9 !important;
  }
  
  html, body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: auto;
    
  }
.wrapper{
    min-width: 100vh;
    display: flex;
    flex-direction: column;
}
 

  main {
    flex: 1;
  }

  footer {
    margin-top: 50px;
    padding: 20px 0;
    width: 100%;
  }



