* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.my-logo-header {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
a {
  text-decoration: none;
}
div > h5,
div > p {
  color: black;
}
.Becomeimg {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* sining media */
@media (max-width: 990px) {
.my-bh{
  display: none !important;
}
}
.my-border-img-c{
  border: 1px solid white ;
  background-color: rgba(240, 248, 255, 0.805);
}
.my-df{
  display: flex !important;
}
@media (min-width: 950px){
  .my-card-bot-p:hover{
    position: relative !important;
  }
  .my-card-bot-c:hover{
    position: absolute !important;
    right: 92px;
  }
}
.my-little-cards{
  height: 227px;
  width: 388px;
background-color: rgb(255, 255, 255);
border: 0.8px solid rgba(0, 0, 0, 0.176);
border-radius: 6px;
display: flex;
align-items: center;

}
.my-liitle-card-img{
  width: 200px;
  height: 100%;
}
@media (min-width: 950px){
}
.my-card-bot-l-p:hover .my-card-bot-l-c{
 display: inline-block;
}

.my-card-bot-l-c{

display: none;

}

